.main {
    display: grid;
    grid-template-columns: auto;
    place-items: center;
}

.div{
    margin: 0.7rem 0;
}

.button{
    width: 100%;
}


@media  screen and (min-width: 960px) {
    .form{
        width: 30%;
    }   
}